# AirBnB Analysis

In [ ]:
# Import basic libraries
import numpy as np 
import pandas as pd 

# import visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
import os
import urllib.request

data_location = '../datasets/AB_NYC_2019.csv'
# data_url = 'https://s3.amazonaws.com/elephantscale-public/data/airbnb/AB_NYC_2019.csv'
data_url = 'https://github.com/elephantscale/datasets/blob/master/airbnb/AB_NYC_2019.csv?raw=true'


if not os.path.exists (data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        print("Downloading : ", data_url)
        urllib.request.urlretrieve(data_url, data_location)
print('data_location:', data_location)

data_location: ../datasets/AB_NYC_2019.csv

In [ ]:
# Airbnb data = https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data?select=AB_NYC_2019.csv



data = pd.read_csv(data_location)

In [ ]:
data.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38031,30046140,Central Park 2 Bedroom Escape in South Harlem,59011845,Aksel,Manhattan,Harlem,40.79970,-73.95340,Entire home/apt,600,3,0,NaN,NaN,1,83
37737,29903363,Huge Sunny Bedroom 1min from Central Park!,96647029,Maxi,Manhattan,Upper West Side,40.79481,-73.96437,Private room,84,6,3,2019-03-31,0.37,1,6
23058,18670480,Sunny Art + Plant Brownstone Apartment,6356476,Alexandra,Brooklyn,Bedford-Stuyvesant,40.68988,-73.94137,Entire home/apt,116,2,0,NaN,NaN,1,0
38206,30132711,"Spacious And Sunny Apartment, Private Roof Deck!",2446722,Amanda,Brooklyn,Bedford-Stuyvesant,40.69176,-73.95396,Entire home/apt,120,3,22,2019-06-24,3.07,1,16
31709,24727443,Charming Newly Renovated West Village Apartment,7339898,Leah,Manhattan,Greenwich Village,40.72975,-74.00157,Entire home/apt,200,3,18,2019-07-01,1.28,1,10

## Overall stats

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

## Column specific analysis

In [ ]:
# which neighborhood is popular
data['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [ ]:
## TODO: your turn
## find value counts for these columns : neighbourhood, room_type

## $10,000 / day rental ?!

From the describe output above, you noticed some rentals are going for 10k / night.

let's see them! :-)

In [ ]:
## TODO: write a query to list only listings charging 10k / night
data[data['price'] == ???]

## Correlation Matrix

In [ ]:
# remove non siginificant numeric columns
data2 = data.drop(columns = ['id', 'host_id', 'latitude', 'longitude'])
data2.corr()

In [ ]:
f, ax = plt.subplots(figsize=(12, 10))
sns.heatmap(data2.corr(),   vmax=1, # xticklabels=corr.columns,  yticklabels=corr.columns,
            cmap='coolwarm', annot=True, annot_kws={'size': 10})
# cmap = RdBu,  coolwarm, coolwarm_r , rocket, rocket_r, flare, flare_r
# play with color palettes here : https://seaborn.pydata.org/tutorial/color_palettes.html