In [1]:
import pandas as pd

file_url = 'https://raw.githubusercontent.com/fenago/MLEssentials/main/datasets/officers.csv'

df = pd.read_csv (file_url)
df

          ID           City State    Zip      Title  RedactionRequested
0        804       Glenview    IL  60025  Treasurer               False
1       9177     Harrisburg    IL  62946  Treasurer               False
2      53011        Chicago    IL  60606  Treasurer               False
3       9176     Harrisburg    IL  62946   Chairman               False
4      33020  Mechanicsburg    IL  62545   Chairman               False
...      ...            ...   ...    ...        ...                 ...
55209   3559       Hillside    IL  60162   Chairman               False
55210   3558       Hillside    IL  60162  Treasurer               False
55211  23177        Harvard    IL   6033   Chairman               False
55212  23712        Chicago    IL  60637  Treasurer               False
55213  10509           Peru    IL  61354  Treasurer               False

[55214 rows x 6 columns]

In [2]:
df['State'].unique()

array(['IL', 'PA', 'DC', 'Il', nan, 'WI', 'CA', 'MO', 'NC', 'IA', 'MA',
       'IN', 'MI', 'TN', 'NY', 'ng', 'TX', 'CO', 'NV', 'il', 'WA', '8I',
       'In', 'iL', 'OH', 'SC', 'VA', 'NM', 'FL', 'LA', 'GA', 'II', 'NJ',
       'MD', 'I', 'AR', 'KS', 'DE', '60', 'SD', 'MN', 'VT', 'OK', 'KY',
       'CT', 'NH', 'AZ', 'OR', 'PR', 'RI'], dtype=object)

In [3]:
for state in ['Il', 'iL', 'Il']:
  print(df.loc[df['State'] == state, ['City', 'State']])

            City State
43        Ottawa    Il
44        Ottawa    Il
493    Galesburg    Il
613      Chicago    Il
614      Chicago    Il
...          ...   ...
54915    Chicago    Il
54916    Chicago    Il
54918    Chicago    Il
54919    Chicago    Il
54921    Chicago    Il

[665 rows x 2 columns]
         City State
7052  Wheaton    iL
            City State
43        Ottawa    Il
44        Ottawa    Il
493    Galesburg    Il
613      Chicago    Il
614      Chicago    Il
...          ...   ...
54915    Chicago    Il
54916    Chicago    Il
54918    Chicago    Il
54919    Chicago    Il
54921    Chicago    Il

[665 rows x 2 columns]

In [4]:
# flag / mask
il_mask = df['State'].isin(['il', 'Il', 'iL', 'Il'])
il_mask.sum()

672

In [5]:
df.loc[il_mask, 'State'] = 'IL'

In [6]:
df['State'].unique()

array(['IL', 'PA', 'DC', nan, 'WI', 'CA', 'MO', 'NC', 'IA', 'MA', 'IN',
       'MI', 'TN', 'NY', 'ng', 'TX', 'CO', 'NV', 'WA', '8I', 'In', 'OH',
       'SC', 'VA', 'NM', 'FL', 'LA', 'GA', 'II', 'NJ', 'MD', 'I', 'AR',
       'KS', 'DE', '60', 'SD', 'MN', 'VT', 'OK', 'KY', 'CT', 'NH', 'AZ',
       'OR', 'PR', 'RI'], dtype=object)